body {
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

.links {
  width: 8%;
  margin-bottom: 2em;
  background-color: black;
  border-radius: 1em;
  padding: 1em;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  font-weight: bold;
}

input {
  color: white;
  background-color: black;
  text-align: center;
  margin-top: .2em;
}

form {
  border-radius: 5px;
  width: 20%;
  color: white;
  background-color: grey;
  text-align: center;
  -webkit-box-shadow: 0px 0px 8px 0px white;
  -moz-box-shadow: 0px 0px 8px 0px white;
  box-shadow: 0px 0px 15px 0px white;
}

.in {
  webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.out {
 webkit-animation: fadeout 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 2s; /* Firefox < 16 */
  -ms-animation: fadeout 2s; /* Internet Explorer */
  -o-animation: fadeout 2s; /* Opera < 12.1 */
  animation: fadeout 2s;
}

.submit {
  margin-left: -7em;
  border-radius: 5em;
}

.link {
  margin-bottom: .3em;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  background-color: grey;
  text-align: center;
  -webkit-box-shadow: 0px 0px 8px 0px black;
  -moz-box-shadow: 0px 0px 8px 0px black;
  box-shadow: 0px 0px 15px 0px black;
}

img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  height: 2em;
  width: 2em;
  background-color: grey;
  border-radius: 10px;
}

img:hover {
  -webkit-box-shadow: 0px 0px 8px 0px black;
  -moz-box-shadow: 0px 0px 8px 0px black;
  box-shadow: 0px 0px 15px 0px black;
}